.Profile {
  display: flex;
  flex-direction: row;
  padding: 3px;
  box-sizing: border-box;
}

.Avatar {
  border-radius: 50%;
  margin: 0px 8px 0px 8px;
  object-fit: cover;
}

.Name {
  font-size: 110;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Text {
  font-size: 70%;
  display: block;
}
