.Button {
  border: 1px solid #c8c8ca8c;
  background-color: black;
  color: white;
  border-radius: 0%;
}

.Button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.Lg {
  width: 100%;
}

.Option {
  color: #c8c8ca8c;
}
.Option:hover {
  color: black;
}

.Filled {
  color: black;
}

.Filled:hover {
  color: c8c8ca8c;
}
