.NavBar {
  background-color: white;
  border: 1px solid #c8c8ca8c;
  text-transform: uppercase;
}

.NavBar i {
  color: #c8c8ca8c;
}

.NavLink {
  padding: 5px;
}

.Active {
  border-bottom: 2px solid black;
}

.Active i {
  color: black;
}
