.Name {
  font-size: 120%;
  font-weight: bold;
}
.Stats {
  font-size: 90%;
}

.JoinDate {
  font-size: 70%;
}

.Experience {
  font-family: "Vollkorn", sans-serif;
  font-size: 85%;
}

.Experience h3,
.Experience h4 {
  font-weight: bold;
  font-size: 100%;
}
