.App {
  font-family: "Lora", sans-serif;
  min-height: 100vh;
  background-color: #c8c8ca8c;
}

.Main {
  padding-top: 90px;
}

.Alert {
  border-radius: 0%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.SearchIcon {
  padding: 9px;
  padding-left: 15px;
}

.SearchBar {
  border-radius: 0%;
  padding-left: 35px;
}

.NoResults {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.Content {
  font-size: 95%;
}

.Note {
  font-size: 70%;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Info {
  display: flex;
  align-items: center;
  padding-right: 5px;
  font-size: 80%;
}

.CardFooter {
  width: 100%;
  display: flex;
  padding: 5px;
}
