.App {
    font-family: "Lora", sans-serif;
    min-height: 100vh;
}

.Main {
    padding-top: 80px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #c8c8ca8c;
}